<p>
Hello, my name is David Begin. I am 25 year programmer, who has been dabbling in programming since I was a teenager, only to explode into a full blown obssesion with the introduction of Ruby. I have a passion for learning and expanding my knowledge of Technology and Software, whether that be studying the latest concepts in TDD/BDD, trying to improve my vim skills, or learning LISP in my spare time.  
<br />
<br />
I currently freelance, making small to medium sized apps for small businesses, and moving into creating larger Saas Apps. 
</p>
